<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add city</title>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="city_name"><br>
        <select name="region" id="">
            <option value="">Please choose a Region</option>
            {% for region in regions %}
            
            <option value="{{ region.pk }}">{{ region.name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>