{% extends 'base.html' %}

{% block TITLE %}City list{% endblock TITLE %}

{% block BODY %}
<table border="1">
    <tr>
        <th>pk</th>
        <th>name</th>
        <th>Region</th>
        <th>actions</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.pk }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.region }}</td>
        <td>
            <a href="{% url 'spravochniki:update-city' pk=obj.pk %}">update</a>
            <a href="{% url 'spravochniki:view-city' pk=obj.pk %}">view</a>
            <a href="{% url 'spravochniki:delete-city' pk=obj.pk %}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock BODY %}